.category_viewer {
    background: #E4E4E4;
    width: 100%;
    /* height: 80%; */
}

.cat_row {
    background: #C7C7C7;
    height: 30px;
    margin-bottom: 10px; /* PROBABLY REMOVE THIS LATER PLEASE */
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.addCat_button {
    width: 200px;
    height: 30px;
    margin: 10px;
}

.addCat_hide {
    display: none;
}

.addCat_show {
    visibility: visible;
}