.category_viewer {
    background: #E4E4E4;
    width: 100%;
    height: 100%;
    overflow: scroll;
    border-radius: 15px;
}

.cat_display {
    height: 100%;
    margin-top: 75px;
    /* overflow: scroll; */
}

.cat_row {
    background: #C7C7C7;
    height: 30px;
    margin-bottom: 10px; /* PROBABLY REMOVE THIS LATER PLEASE */
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.cat_row button{
    width: 23px;
    height: 23px;
    border-style: none;
    background: none;
}

.cat_title {
    cursor: pointer;    
}

.addCat_button {
    height: 30px;
    width: 200px;
    background: white;
    border-radius: 5px;
    border-color: #E28413;
    border-width: 2px;
    margin: 10px;
}

.addCat_hide {
    display: none;
}

.addCat_show {
    visibility: visible;
}

.asset_info {
    background-color: #E4E4E4; 
    display: flex;
    align-items: center;
    width: 95%;
    height: 10%;
    position: absolute;
    border-radius: 0px 15px 0px 0px;
}

.asset_info h1 {
    font-size: 40px;
}

.asset_button_container {
    display: flex;
    flex-direction: column;
    margin: 0px 2px 0px 10px;
}

.asset_button_container button {
    width: 20px;
    height: 20px;
    border-style: none;
    background: none;
}

@media (min-width: 1000px) {
    .cat_display {
        margin-top: 70px;
    }

    .asset_info {
        height: 7%;
    }
}