.log_viewer {
    background: #A9A9A9;
    margin: -10px 0px 10px 20px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: #DD4B1A;
    border-width: 0px 0px 2px 2px;
}

.log_header {
    background: #333333;
    color: #ffffff;
    height: 60px;
    margin: 5px 10px -5px 10px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    border-bottom: 2px solid #DD4B1A;
}

.log_header_title {
    width: 185px;
    margin: 0px 20px 0px 70px;
}

.log_row {
    background: #E7E7E7;
    height: 60px;
    margin: 5px 10px 5px 10px;
    padding-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.log_buttons {
    min-width: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.log_buttons button {
    width: 25px;
    height: 20px;
    cursor: pointer;
    border-style: none;
    background: none;
}

.log_title {
    width: 185px;
    margin-right: 20px;
}

.log_desc {
    width: 425px;
    margin-right: 20px;
}

.log_date {
    width: 100px;
    margin-right: 20px;
}

.log_cost {
    width: 175px;
    margin-right: 20px;
}

.log_img {
    width: 200px;
    height: 60px;
    cursor: pointer;
}

.log_img img {
    height: 100%;
}

.close_cat_button {
    width: 50px;
    margin-left: 10px;
}

.addLog_button {
    width: 200px;
    height: 20px;
    margin: 5px 0px 0px 10px;
}

.addLog_hide {
    display: none;
}

.addLog_show {
    visibility: visible;
}