@import url('https://fonts.googleapis.com/css?family=Anton|Berkshire+Swash|Erica+One|Orbitron|Spicy+Rice|Lato');

.header-container{    
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#EAF0CE;
    color: black; 
    border-bottom: 2px solid #DD4B1A;
       
}

.maintenance-minder{
    height: 10vh;
    display: flex;
    align-items:center;
}

.maintenance-minder h4{
    align-items: center;
    margin: 8px;
    font-size: 25px;
    font-family: 'Orbitron';
    text-decoration: none;
    color: #36453B;
    font-weight: bold;
}

.maintenance-minder img{
    align-items: center;
    justify-content: center;
}

.maintenance-minder h4 span{
    color: #E28413;
}

.login{
    display: flex;
    justify-content: space-between;
}


.login h4{
    font-size: 12px;
    text-decoration: none;
    list-style:none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    font-family: 'Lato';
}

