.dash_main_container {
    background: red;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.assets_viewer {
    background: teal;
    width: 95%;
    height: 85%;
}

.asset_tabs_container {
    background: yellow;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.asset_tab {
    width: 75px;
    height: 100%;

}

.add_asset_button {
    width: 75px;
    height: 85%;
    margin-left: 10px;
}